.books-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px 50px;
}

@media screen and (max-width: 1024px) {
    .books-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 850px) {
    .books-list {
        grid-template-columns: 1fr 1fr;
    }
}