@import url(/fonts.css);
@import url(/blocks/books-list.css);
@import url(/blocks/header/header.css);
@import url(/blocks/book-item/book-item.css);
@import url(/blocks/title/title.css);
@import url(/blocks/link/link.css);
@import url(/blocks/popup/popup.css);
@import url(/blocks/button/button.css);
@import url(/blocks/sort/sort.css);
@import url(/blocks/text/text.css);
@import url(/blocks/book-details/book-details.css);
@import url(/blocks/error/error.css);


body {
  margin: 0;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  background-color: #e5e5e5;
  /* background-repeat: no-repeat;
  background-size: contain;
  padding: 2% 5%; */
}

